@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container {
  width: min(100%, 1440px);
  margin: auto;
  padding-top: 136px;
}
/* header */
header {
  position: fixed;
  max-width: inherit;
  width: inherit;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
  height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 80px;
  background-color: #372d23;
}
.header_ul {
  display: flex;
  gap: 48px;
}
.link {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #fcc21b;
}
li:first-child .link {
  color: #ed6c30;
}
.fa-bag-shopping {
  font-size: 40px;
  color: #fcc21b;
}
.link:hover,
.bag_hover:hover {
  color: red;
}
/* section1 */
.section1 {
  height: 640px;
  position: relative;
}
.section1_article {
  width: 762px;
  height: 208px;
  background-color: #fcc21b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 4px 0px #00000080 inset;
}
.section1_h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
}
.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section2 */
.section2 {
  display: flex;
  width: calc(1200 / 1440 * 100%);
  column-gap: 100px;
  margin: 100px auto;
}
.section2_img_container {
  width: 550px;
  height: 400px;
}
.image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section2_article {
  width: 550px;
}

.section2_h3 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #372d23;
}
.section2_p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #c65c14;
  margin-top: 40px;
}
/* footer */
footer {
  background-color: #372d23;
  padding: 32px 80px;
  display: flex;
  justify-content: space-between;
}
.footer_menu {
  color: #fcc21b;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.right_nav_ul {
  display: flex;
  column-gap: 24px;
}
.right_nav_i {
  font-size: 32px;
  color: #fcc21b;
}
.footer_menu:hover,
.right_nav_i:hover{
  color: red;
} 
.footer_menu_ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

